
#navBar{
  background-color: #222;
  height: 5vh;
}

#navLogo{
    width: auto;
    height: 5vh;
    float: left;
  }

#langSelect{
  float: right;
  background-color: white;
}

#selectedLang {
  background-color: #777;
  text-align: center;
  padding-top: 1.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  cursor: default;
  width: 7vh;
  height: 3.5vh;
}

#sideBar {
  float: left;
  background-color: #444;
  height: 94vh;
  width: 25vh;

}

#searchBar {
  margin-top: 4vh;
  margin-right: 1.5vh;
  margin-left: 1.5vh;
  height: 3vh;
  width: 86%;
}

#contentsReadme {
  text-align: center;
  margin-top: 3vh;
}

.contentsHeader {
  margin-top: 2vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  padding: 1vh;
  text-align: left;
  background-color: #333;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.contentsSubheader {
  margin-top: 1vh;
  margin-left: 4vh;
  margin-right: 1.5vh;
  padding: .6vh;
  text-align: left;
  background-color: #333;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.langChoice {
  background-color: #777;
  cursor: pointer;
  text-align: left;
  padding-left: 0.5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
